* {
    transition: 0.2s;
}

.object {
    background-color: #e2e2e2;
    border: 2px solid #000000;
    border-radius: 0 10px 0 10px;
    margin: 10px 10px 30px 10px;
    width: 20vw;
    z-index: 1;
}

.post {
    width: 20vw;
    height: 50vh;
    overflow: auto;
}

.post_title {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(90deg, #e2e2e2, black, #e2e2e2) 1;
    padding: 10px 0;
}

.post_info {
    margin: 5px;
    font-size: 20px;
    font-weight: 500;
}

.post_image {
    width: 19vw;
}

.post_buttons {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-content: center;
    border-top: 2px solid transparent;
    border-image: linear-gradient(90deg, #e2e2e2, black, #e2e2e2) 1;
    padding: 10px 0;
}

.delete_post, .edit_post, .full_post  {
    cursor: pointer;
    margin: 0 30px;
    width: 30;
    height: 30px;
}

.post_block {
    display: flex;
    justify-content: space-around;
}

.comment_add {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.comments_container {
    display: none;
    flex-direction: column;
    height: 400px;
    overflow: auto;
    width: 50%;
}
